---
import '/src/styles/reset.css';
import '/src/styles/global.css';
import '/src/styles/project.css';

import { capitalize } from '../../utils';

import Layout from '../../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const alleProsjekter: CollectionEntry<'prosjekter'>[] = await getCollection('prosjekter')

    return alleProsjekter.map(prosjekt => ({
        params: {
            slug: prosjekt.slug
        },
        props: {prosjekt}
    }));
}

const { prosjekt } = Astro.props;

const { Content } = await prosjekt.render();

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/projects/*.{jpeg,jpg,png,gif}');
if (!images[prosjekt.data.mainImage]) throw new Error(`"${prosjekt.data.mainImage}" does not exist in glob: "src/images/projects/*.{jpeg,jpg,png,gif}"`);
---

<Layout title="Prosjekt test">

    <Image src={images[prosjekt.data.mainImage]()} alt={prosjekt.data.altText} />

    <div class="projectWrapper">
        <h1>{prosjekt.data.tittel}</h1>

        <div class="projectMeta">
            <h2 class="hidden">Om prosjektet</h2>

            <div>
                <h3>Oppdragsgiver</h3>
                <ul>
                    {prosjekt.data.oppdragsgiver.map((oppdragsgiver: string, index: number) => (
                        <li>{capitalize(oppdragsgiver)}</li>
                       ))}
                </ul>
            </div>

            <div>
                <h3>Leveranser</h3>
                <ul>
                    {prosjekt.data.leveranser.map((leveranser: string, index: number) => (
                        <li>{capitalize(leveranser)}</li>
                       ))}
                </ul>
            </div>

            <div>
                <h3>Samarbeidspartner</h3>
                <ul>
                    {prosjekt.data.samarbeidspartner.map((samarbeidspartner: string, index: number) => (
                        <li>{capitalize(samarbeidspartner)}</li>
                       ))}
                </ul>
            </div>

            <div>
                <h3>Tidspunkt</h3>
                <ul>
                    <li>{prosjekt.data.tidspunkt}</li>
                </ul>
            </div>


        </div>

        <Content/>
    </div>

</Layout>
