---
// CSS files
import '/src/styles/reset.css';
import '/src/styles/global.css';
import '/src/styles/project.css';

// Function to capitalize text strings
import { capitalize } from '../../utils';

// Astro components and layouts
import Layout from '../../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';

// Content collection imports
import { getCollection, type CollectionEntry } from "astro:content";
import { getEntry, render } from 'astro:content';


// Accessing data from projects content collection and creating routes to project pages based on slug in markdown files
export async function getStaticPaths() {
  const alleProsjekter = await getCollection('prosjekter', ({ data }) => {
    return import.meta.env.PROD ? data.utkast !== true : true;
});

  return alleProsjekter.map((prosjekt) => ({
    params: { slug: prosjekt.id },
    props: { prosjekt },
  }));
}

type Props = {
  prosjekt: CollectionEntry<'prosjekter'>;
};

const { prosjekt } = Astro.props;
const { Content } = await render(prosjekt);



//V4 function for destructuring ansatte data
// const ansatteData = await getEntry('ansatte', prosjekt.data.kontaktperson.id);

//const navn = await getEntry(ansatteData.data.navn);

// const kontaktperson = prosjekt.data.kontaktperson.id;

const kontaktpersonData = prosjekt.data.kontaktperson
  ? await getEntry(prosjekt.data.kontaktperson.collection, prosjekt.data.kontaktperson.id)
  : null;

// Importing project images from subfolder in images folder
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/projects/*.{jpeg,jpg,png,gif}');
if (!images[prosjekt.data.mainImage]) throw new Error(`"${prosjekt.data.mainImage}" does not exist in glob: "src/images/projects/*.{jpeg,jpg,png,gif}"`);

// Accessing data from Ansatte content collection
// type Props = {
//   entry: CollectionEntry<"ansatte">;
// };

// const { data: ansatteData } = await getEntry("ansatte", prosjekt.data.vårKontaktperson);

---

<Layout
    title={prosjekt.data.tittel}
    homeButton={true}
    description={prosjekt.data.sammendrag}
    >

    <div class="heroSection">
        <Image src={images[prosjekt.data.mainImage]()} alt={prosjekt.data.altText} width={2600} quality={100}/>
        <h1 class="serif">{prosjekt.data.tittel}</h1>
        <div class="overlay"></div>        
    </div>

    
    <div class="projectWrapper">
       

        <div class="projectMeta">
            <h2 class="hidden">Om prosjektet</h2>

            <div>
                <h3>Oppdragsgiver</h3>
                <ul>
                    {prosjekt.data.oppdragsgiver.map((oppdragsgiver: string, index: number) => (
                        <li>{capitalize(oppdragsgiver)}</li>
                       ))}
                </ul>
            </div>

            <div>
                <h3>Leveranser</h3>
                <ul>
                    {prosjekt.data.leveranser.map((leveranser: string, index: number) => (
                        <li>{capitalize(leveranser)}</li>
                       ))}
                </ul>
            </div>

            <div>
                <h3>Samarbeidspartner</h3>
                <ul>
                    {prosjekt.data.samarbeidspartner.map((samarbeidspartner: string, index: number) => (
                        <li>{capitalize(samarbeidspartner)}</li>
                       ))}
                </ul>
            </div>

            <div>
                <h3>Tidspunkt</h3>
                <ul>
                    <li>{prosjekt.data.tidspunkt}</li>
                </ul>
            </div>


        </div>
        <div class="content">
        <Content/>
        </div>

        {kontaktpersonData && (
            <div class="kontaktperson">
            <div class="kontakt">
                <h2>Vil du høre mer?<br/>Send meg en epost, da vel!</h2>
                <div>
                    <h3>{kontaktpersonData.data.navn}</h3>
                    <p id="stilling">{kontaktpersonData.data.stilling}</p>
                    <p id="epost"><a href={"mailto:"+kontaktpersonData.data.epost}>{kontaktpersonData.data.epost}</a></p>
                </div>
            </div>
            <Image src={kontaktpersonData.data.headshot} alt={"Bilde av "+kontaktpersonData.data.altText} width={250} quality={80}/>
        </div>
            )}

    </div>

</Layout>