---

import '../styles/reset.css';
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';

import Prosjektarkiv from '../components/prosjektarkiv.astro';
import OmOssAnsatt from '../components/omOssAnsatt.astro';


import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// const alleAnsatte = await getCollection("ansatte");

const alleAnsatte: CollectionEntry<'ansatte'>[] = (await getCollection('ansatte')).sort((a:CollectionEntry<'ansatte'>, b:CollectionEntry<'ansatte'>) => a.data.rekkefølge.valueOf() - b.data.rekkefølge.valueOf());

const formatPhoneNumber = (phone: number) => {
  // Format phone number as "123   45   67" with larger spaces
  const largeSpace = '\u2003'; // Em space (visually larger than a regular space)
  return phone.toString().replace(/(\d{3})(\d{2})(\d{2})/, `$1${largeSpace}$2${largeSpace}$3`);
};

// Preprocess the data to include formatted phone numbers
const ansatteWithFormattedPhone = alleAnsatte.map((ansatt) => ({
  ...ansatt,
  data: {
    ...ansatt.data,
    formattedPhone: formatPhoneNumber(ansatt.data.telefon),
  },
}));

---
<Layout
	title="Strategisk design for bærekraftige lokalsamfunn"
	description='Lokalt Byrå bruker design til å utvikle samfunn sammen med folk fra store og små steder i hele landet. Vi mener at endring og nye løsninger må ta utgangspunkt i lokale forhold og behov, fra grenda til fylket og nasjonalt.'
	>

	<div class="wrapper">

		<div class="section">
			<h1>
				<span class="serif lokaltByraa">Lokalt Byrå</span> bruker design til å utvikle samfunn sammen med folk fra store og små steder i hele landet. Vi mener at endring og nye løsninger må ta utgangspunkt i lokale forhold og behov, fra grenda til fylket og nasjonalt.
			</h1>
		</div>

		<div class="section">
			<div class="ansatteGrid">
				{ansatteWithFormattedPhone.map(ansatt =>(
									<div>
										<OmOssAnsatt
											navn={ansatt.data.navn}
											stilling={ansatt.data.stilling}
											bio={ansatt.data.bio}
											epost={ansatt.data.epost}
											tlf={ansatt.data.telefon}
											imagePath={ansatt.data.headshot}
											altText={ansatt.data.altText}
											utdanning={ansatt.data.utdanning}
											tidligereErfaring={ansatt.data.tidligereErfaring}
										/>
									</div> 
								))}
			</div>

				

		</div>

		<div class="section">
			<Prosjektarkiv />
		</div>
	
	</div>

</Layout>