---

import '../styles/reset.css';
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';

import Prosjektarkiv from '../components/prosjektarkiv.astro';
import OmOssAnsatt from '../components/omOssAnsatt.astro';
import Foredrag from '../components/foredrag.astro';


import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// const alleAnsatte = await getCollection("ansatte");

const alleAnsatte: CollectionEntry<'ansatte'>[] = (await getCollection('ansatte')).sort((a:CollectionEntry<'ansatte'>, b:CollectionEntry<'ansatte'>) => a.data.rekkefølge.valueOf() - b.data.rekkefølge.valueOf());

const formatPhoneNumber = (phone: number) => {
  // Format phone number as "123   45   67" with larger spaces
  const largeSpace = '\u2003'; // Em space (visually larger than a regular space)
  return phone.toString().replace(/(\d{3})(\d{2})(\d{2})/, `$1${largeSpace}$2${largeSpace}$3`);
};

// Preprocess the data to include formatted phone numbers
const ansatteWithFormattedPhone = alleAnsatte.map((ansatt) => ({
  ...ansatt,
  data: {
    ...ansatt.data,
    formattedPhone: formatPhoneNumber(ansatt.data.telefon),
  },
}));

---
<Layout
	title="Om oss"
	description='Lokalt Byrå bruker design til å utvikle samfunn sammen med folk fra store og små steder i hele landet. Vi mener at endring og nye løsninger må ta utgangspunkt i lokale forhold og behov, fra grenda til fylket og nasjonalt.'
	color="black"
	>

	<div class="wrapper">

		<div class="section">
			<h1>
				<span class="serif lokaltByraa">Lokalt Byrå</span> er en trio med spisskompetanse på samfunnsutvikling og innovasjon på tvers av offentlig, privat og frivillig sektor i små og mellomstore kommuner. Vi samarbeider med arkitekter, planleggere, teknologer og samfunnsvitere for å gi hver utfordring teamet den fortjener.
			</h1>
		</div>

		<div class="section">
			<div class="ansatteGrid">
				 {ansatteWithFormattedPhone.map(ansatt =>(
                    <div>
                        <OmOssAnsatt
                            navn={ansatt.data.navn}
                            stilling={ansatt.data.stilling}
                            bio={ansatt.data.bio}
                            epost={ansatt.data.epost}
                            tlf={ansatt.data.telefon}
                            imagePath={ansatt.data.headshot}
                            altText={ansatt.data.altText}
                            utdanning={ansatt.data.utdanning}
                            tidligereErfaring={ansatt.data.tidligereErfaring}
                        />
									</div> 
								))}
			</div>
		</div>

		<div class="section lister">
			<div class="utmerkelser">
				<h2>Utmerkelser og priser</h2>
				<ul>
					<li>Vunnet prosjekter i DOGAs Gnist-program tre år på rad, 2022-2025</li>
					<li>Omtalt som inspirerende eksempel i Regjeringens distriktsmelding “Eit godt liv i heile Noreg – distriktspolitikk for framtida”, 2023</li>
					<li>Støttet av stiftelsen Den Gode Idé, 2023</li>
					<li>DOGA Nykommermerke, 2023</li>
					<li>DOGA Hedersmerke, 2023</li>
					<li>Skift - Næringslivets Klimaledere Skiftpris, 2022</li>
				</ul>
			</div>
			
		</div>

		<div class="section">
			<Prosjektarkiv />
		</div>

		<div class="section">
			<Foredrag />
		</div>
	
	</div>

</Layout>

<style>

	.lister{
		
	}

	.lister h2{
		margin-bottom: 0.5em;
	}

	.lister li{
		font-size: 1.5em;
		margin: 0;
        padding: 0;
        margin-left: 1.5ch;
        padding-left: .5ch;
		margin-bottom: 0.5em;
        list-style: disc;
        list-style-position: outside;
	}

</style>