---
import { Image } from 'astro:assets';

import { getCollection } from "astro:content";
const alleAnsatte = await getCollection("ansatte");

---

<div class="ansatte">

    {alleAnsatte.map(ansatt =>(
       <div>
        <Image src={ansatt.data.headshot.src} alt={"Bilde av "+ansatt.data.headshot.altText} width={600} quality={80}/>
        {/* <Image src={images[prosjekt.data.mainImage]()} alt={prosjekt.data.altText} /> */}
        <h3>{ansatt.data.navn}</h3>
        <p>{ansatt.data.stilling}</p>
        <p><a href={"mailto:"+ansatt.data.epost}>{ansatt.data.epost}</a></p>
    </div> 
    ))}

</div>

<style>
    .ansatte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
    margin-top: 4em;
}

/* .ansatte img{
    max-height: 20em;
    width: auto;
    max-width: 17em;
    border-radius: 1em;
    margin-bottom: 0.5em;
} */

.ansatte img{
    max-height: 30em;
    height: auto;
    /* width: auto; */
    max-width: 50em;
    margin-bottom: 0.5em;
}

.ansatte *{
    margin: 0.25em 0 0 0;
}

.ansatte h3{
    font-size: 1.9em;
}

.ansatte p{
    font-size: 1.5em;
}

a:hover{
    color: var(--blue);
}

@media (width <= 810px ) {
    .ansatte{
    grid-template-columns: 1fr;
    }  

    .ansatte img{
    max-height: 30em;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 50em;
    margin-bottom: 0.5em;
}

}

</style>