---
import { Image } from 'astro:assets';

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// const alleAnsatte = await getCollection("ansatte");

const alleAnsatte: CollectionEntry<'ansatte'>[] = (await getCollection('ansatte')).sort((a:CollectionEntry<'ansatte'>, b:CollectionEntry<'ansatte'>) => a.data.rekkefølge.valueOf() - b.data.rekkefølge.valueOf());


---

<div class="ansatte">

    {alleAnsatte.map(ansatt =>(
       <div>
        <Image src={ansatt.data.headshot.src} alt={"Bilde av "+ansatt.data.headshot.altText} width={400} quality={80}/>
        {/* <Image src={images[prosjekt.data.mainImage]()} alt={prosjekt.data.altText} /> */}
        <h3>{ansatt.data.navn}</h3>
        <p>{ansatt.data.stilling}</p>
        <p><a href={"mailto:"+ansatt.data.epost}>{ansatt.data.epost}</a></p>
        <p><a href={"tel:+47"+ansatt.data.telefon}>+47 {ansatt.data.telefon}</a></p>
    </div> 
    ))}

</div>

<style>
    .ansatte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
    margin-top: 4em;
    }

/* .ansatte img{
    max-height: 20em;
    width: auto;
    max-width: 17em;
    border-radius: 1em;
    margin-bottom: 0.5em;
} */

.ansatte img{
    max-height: 30em;
    height: auto;
    /* width: auto; */
    max-width: 50em;
    margin-bottom: 1em;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}

.ansatte *{
    margin: 0 0 0.2em 0;
}

.ansatte h3{
    font-size: 1.9em;
}

.ansatte p{
    font-size: 1.5em;
    margin-bottom: 0.05em;
}

.ansatte div :nth-child(3) {
    margin-bottom: 0.75em;
}

a:hover{
    color: var(--blue);
}

@media (width <= 810px ) {
    .ansatte{
    grid-template-columns: 1fr;
    }  

    .ansatte img{
    max-height: 30em;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 50em;
    margin-bottom: 0.5em;
}

}

@media (width <= 450px ) {

    .ansatte{
    margin-top: 1em;
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .ansatte h3{
    font-size: 1.5em;
    margin-bottom: 0.25em;
    }   

    .ansatte p{
    font-size: 1.25em;
    margin-top: 0em;
    }

}   

</style>