---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    title: string;
    body: string;
    imagePath: string;
    altText: string;
}

const { title, body, imagePath, altText} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/icons/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/icons/*.{jpeg,jpg,png,gif}"`);
---

<li>
    <Image src={images[imagePath]()} alt={altText} />
    <span>
        <strong>{title}</strong>
        {body}
    </span>
</li>

<style>
    *{
    font-size: 1.9rem;
    line-height: 1.15em;
    }

    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        margin-left: 2rem;
    }  

    img {
        height: 4rem;
        width: auto;
    }

    @media (width <= 810px ) {
        li{
        margin-left: 0rem;
        }  
    }   

</style>