---
//import ImageMetadata type to help define the type of the images variable.
// import type { ImageMetadata } from 'astro';

//imports Image component
// import { Image } from 'astro:assets';

// interface Props {
//     title: string;
//     body: string;
//     imagePath: string;
//     altText: string;
// }

// const { title, body, imagePath, altText } = Astro.props;

// const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');

// if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);

//use the import.meta.glob function which returns an object of all of the image paths inside the assets folder.
// const images = import.meta.glob<{ default: ImageMetadata }>('/src/icons/*.{jpeg,jpg,png,gif}');

//Since you are accessing the images object which has an unknown type, you should also throw an error in case an invalid file path is passed as a prop.
// if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/icons/*.{jpeg,jpg,png,gif}"`);




// const { title = "title", body = "body", iconSrc = DefaultIcon, iconAlt = "Alt text" } = Astro.props as Props;

// import DefaultIcon from '../images/defaultIcon.png';

---
<!-- 
<li>
    Inside the src attribute, pass in the images object and use bracket notation for the image path. Then make sure to invoke the glob function.
    <Image src={images[imagePath]()} alt={altText} />
    <span>
        <strong>{title}</strong>
        {body}
    </span>
</li> -->


<!-- <li>
    
    <Image src={ansatt.headshot} alt={"Bilde av "+ansatt.navn} width={600} quality={80}/>

    <Image src={iconSrc} alt={iconAlt}/>
        
    <span>
        <strong>{title}</strong>
        {body}
    </span>
</li> -->


<!-- <style>
    *{
    font-size: 1.9rem;
    }

    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        line-height: 1.15rem;
        margin-left: 2rem;
}

    img {
        height: 4rem;
        width: auto;
    }

</style> -->