---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import '../styles/reset.css';
import '../styles/global.css';

interface Props {
    navn: string;
    stilling: string;
    bio: string;
    epost: string;
    tlf: string;
    imagePath: string;
    altText: string;
    utdanning: string[];
    tidligereErfaring: string[];
}

const {
    navn,
    stilling,
    epost,
    tlf,
    imagePath,
    altText,
    bio,
    utdanning = [],
    tidligereErfaring = []
    } = Astro.props;

// const images = import.meta.glob<{ default: ImageMetadata }>('/src/content/ansatte/*.{jpeg,jpg,png,gif}');
// if (!images["/src/content/ansatte/" + imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/content/ansatte/*.{jpeg,jpg,png,gif}"`);
const images = import.meta.glob<{ default: ImageMetadata }>('/src/content/ansatte/*.{jpg,jpeg,png,gif}');
const imageModule = images[`/src/content/ansatte/${imagePath}`];
if (!imageModule) throw new Error(`Image not found: ${imagePath}`);

const resolvedImage = (await imageModule() as { default: ImageMetadata }).default;

---

<div class="grid">
    <div class="navnDiv">
        <h2>{navn}</h2>
        <h3>{stilling}</h3>
    </div>

    <div class="bioDiv">
        <p>{bio}</p>
    </div>

    <div class="txtGrid">
        <div>
            <h3>Utdanning</h3>
            <ul>{utdanning.map((item) => (
                    <li>{item}</li>))}</ul>
        </div>
        <div>
            <h3>Tidligere erfaring</h3>
            <ul>{tidligereErfaring.map((item) => (
                    <li>{item}</li>))}</ul>
        </div>
    </div>

    <div class="kontakt">
        <p>Kontakt: <a href={"mailto:"+epost}>{epost}</a> <span class="divider">•</span> <a href={"tel:+47"+tlf}>{"+47 "+tlf}</a></p>
    </div>

    <div class="imgDiv">
        <Image src={resolvedImage} alt={"Bilde av "+altText} width={400} quality={80}/>        
    </div>
</div>

<style>

    img{
    height: 100%;
    max-width: 30ch;
    /* aspect-ratio: 4 / 5; */
    object-fit: cover;
    border-radius: 0%;
    object-position: center bottom;
    }

    .grid{
        margin-top: 4em;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0 2em;
        /* max-width: 100ch; */
        justify-content: center;
        justify-items: start;
        font-size: 1.1em;
    }

    .grid > div:not(.imgDiv) {
    max-width: 80ch;
        }

       .imgDiv{
        grid-column: 1;
        grid-row: 1 / span 4;
    }

    .navnDiv{
        grid-column: 2;
        grid-row: 1;
    }

    .bioDiv{
        grid-column: 2;
        grid-row: 2;
    }

    .txtGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        grid-column: 2;
        grid-row: 3;
    }

    .kontakt{
        grid-column: 2;
        grid-row: 4;
    }

    li{
        margin-left: 1.5ch;
        padding-left: .5ch;
		margin-top: 0.75em;
        list-style: disc;
        list-style-position: outside;
	}

     @media screen and (max-width: 1050px) {

    h2{
        font-size: 2.5em;
        margin: 0;
        line-height: 1.15;
    }

    h3{
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    h4{
        margin: 0;
    }

    p{
        margin: 0.75em 0;
        font-size: 1.2em;
    }


    li{
        margin: 0;
        padding: 0;
        margin-left: 1.5ch;
        padding-left: .5ch;
        list-style: disc;
        list-style-position: outside;
        font-size: 1.1em;
        line-height: 1.25em;
        margin-bottom: 0.5em;
    }
    .divider{
        margin: 0 .6ch 0 .7ch;
    }

    a:hover{
        color: var(--red);
    }

    @media screen and (max-width: 1050px) {
    
        .grid{

        }

        .imgDiv{
            grid-column: 1;
            grid-row: 1 / span 2;
            /* justify-self: center; */
        }

        .navnDiv{
            grid-column: 2;
            grid-row: 1;
        }

        .bioDiv{
            grid-column: 2;
            grid-row: 2;
        }

        .txtGrid{
            grid-column: 1 / span 2;
            grid-row: 3;
        }

        .kontakt{
            grid-column: 1 / span 2;
            grid-row: 4;
        }

        img{
            /* width: 100%;
            max-width: 45ch;
            aspect-ratio: 5/4;
            object-position: center; */
        }

    }

    @media screen and (max-width: 650px) {
    
        .grid{
            grid-template-columns: 1fr;
        }

        .imgDiv{
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
            width: 100%;
            margin-bottom: 1em;
        }

        .navnDiv{
            grid-column: 1;
            grid-row: 2;
        }

        h2{
            font-size: 1.75em;
        }

        h3{
            font-size: 1.25em;
        }

         p, li{
            font-size: 1em;
        }

        .bioDiv{
            grid-column: 1;
            grid-row: 3;
        }

        .txtGrid{
            grid-column: 1;
            grid-row: 4;
            grid-template-columns: 1fr;
        }

        .kontakt{
            grid-column: 1;
            grid-row: 5;
        }

        .kontakt p a{
            display: block;
            margin-top: .25em;
        }

        .kontakt .divider{
            display: none;
        }

        img{
            width: 100%;
            aspect-ratio: 3/2;
            object-position: center;
            max-width: none;
        }

    }

</style>