---
import ProjectCard from "./projectCard.astro"

import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";

// const alleProsjekter: CollectionEntry<'prosjekter'>[] = await getCollection('prosjekter');

const alleProsjekter: CollectionEntry<'prosjekter'>[] = (await getCollection('prosjekter')).sort((a:CollectionEntry<'prosjekter'>, b:CollectionEntry<'prosjekter'>) => a.data.rekkefølge.valueOf() - b.data.rekkefølge.valueOf());

// const prosjekter = await Astro.glob('../posts/*.md')
---

<div class="prosjekterGrid">

    <!-- <ProjectCard 
    tittel="Test"
    oppdragsgiver="Testere"
    nøkkelord="Design"
    imagePath=/src/images/projects/nettside.jpg
    altText="Alt"
    /> -->


    <!-- {alleProsjekter.map(prosjekt =>(
        <h3>{prosjekt.data.tittel}</h3>
    ))} -->

      {alleProsjekter.map(prosjekt =>(
        <ProjectCard 
        tittel={prosjekt.data.tittel}
        oppdragsgiver={prosjekt.data.oppdragsgiver}
        slug={'/prosjekter/' + prosjekt.slug}
        nøkkelord={prosjekt.data.tags}
        imagePath= {prosjekt.data.mainImage}
        altText={prosjekt.data.altText}
        />
    ))}

    <!-- {prosjekter.map(prosjekt =>(
        <ProjectCard 
        tittel={prosjekt.frontmatter.tittel}
        oppdragsgiver={prosjekt.frontmatter.oppdragsgiver}
        slug={`/${prosjekt.frontmatter.slug}`}
        nøkkelord={prosjekt.frontmatter.nøkkelord}
        imagePath={prosjekt.frontmatter.previewImage}
        altText={prosjekt.frontmatter.altText}
        />
    ))} -->

    <!-- <a href="">
        <img src="img/nettside.jpg" alt="">
        <div>
            <h3>Folkeverksted for bo- og blilyst</h3>
            <p>Gamvik Handel, Distriktssenteret og Kommunal- og distriktsdepatementet</p>
        </div>
    </a>

    <a href="">
        <img src="img/nettside.jpg" alt="">
        <div>
            <h3>Fra utbygger- til innbyggerstyrt kommune</h3>
            <p>Kragerø kommune, Design og Arkitektur Norge og Nordic Edge</p>
        </div>
    </a>

    <a href="">
        <img src="img/nettside.jpg" alt="">
        <div>
            <h3>Oppsummerende prosjekttittel</h3>
            <p>Eksempel kommune</p>
        </div>
    </a>

    <a href="">
        <img src="img/nettside.jpg" alt="">
        <div>
            <h3>Oppsummerende prosjekttittel</h3>
            <p>Eksempel kommune</p>
        </div>
    </a> -->

</div>

<style>
    .prosjekterGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em 2em;
    }   

    .prosjekterGrid a{
        width: 100%;
        text-decoration: none;
    }

    .prosjekterGrid a:nth-child(1){
        background-color: var(--orange);
    }

    .prosjekterGrid a:nth-child(2){
        background-color: var(--green);
    }

    .prosjekterGrid a:nth-child(3){
        background-color: var(--red)
    }

    .prosjekterGrid a:nth-child(4){
        background-color: var(--blue)
    }

    .prosjekterGrid a img{
        width: 100%;
        object-fit: cover;
    }

    .prosjekterGrid a div{
        padding: 1em 1.25em;
    }

    .prosjekterGrid *{
        margin: 0;
    }

    .prosjekterGrid h3{
        font-weight: bold;
        margin-bottom: 0.25em;
    }

    .prosjekterGrid p{
        font-size: 1.25em;
    }
</style>