---
import ProjectCard from "./projectCard.astro"
import '../styles/projectGridColors.css';

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// const alleProsjekter: CollectionEntry<'prosjekter'>[] = await getCollection('prosjekter');

const alleProsjekter: CollectionEntry<'prosjekter'>[] = (await getCollection('prosjekter')).sort((a:CollectionEntry<'prosjekter'>, b:CollectionEntry<'prosjekter'>) => a.data.rekkefølge.valueOf() - b.data.rekkefølge.valueOf());

---

<div class="prosjekterGrid">

      {alleProsjekter.map(prosjekt =>(
        <ProjectCard 
        tittel={prosjekt.data.tittel}
        oppdragsgiver={prosjekt.data.oppdragsgiver}
        slug={'/prosjekter/' + prosjekt.slug}
        tags={prosjekt.data.tags}
        imagePath= {prosjekt.data.mainImage}
        altText={prosjekt.data.altText}
        />
    ))}

</div>

<style>
    .prosjekterGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em 2em;
    margin-top: 1em;
    }   

    .prosjekterGrid a{
        width: 100%;
        text-decoration: none;
    }

    .prosjekterGrid a:nth-child(1){
        background-color: var(--orange);
    }

    .prosjekterGrid a:nth-child(2) {
        background-color: var(--green);
    }

    .prosjekterGrid a:nth-child(3){
        background-color: var(--red)
    }

    .prosjekterGrid a:nth-child(4){
        background-color: var(--blue)
    }

    .prosjekterGrid a img{
        width: 100%;
        object-fit: cover;
    }

    .prosjekterGrid a div{
        padding: 1em 1.25em;
    }

    .prosjekterGrid *{
        margin: 0;
    }

    .prosjekterGrid h3{
        font-weight: bold;
        margin-bottom: 0.25em;
    }

    .prosjekterGrid p{
        font-size: 1.25em;
    }

    @media (width <= 810px ) {
        .prosjekterGrid{
        grid-template-columns: 1fr;
        gap: 1em;
        }  
    }   
    
</style>