---

// import Norge from '../images/norge.png';
import Norge from '../components/norge.astro';

const steder = [
    'Gamvik',
    'Skjervøy',
    'Kvænangen',
    'Nordreisa',
    'Tromsø',
    'Kåfjord',
    'Storfjord',
    'Øksnes',
    'Sogndal',
    'Luster',
    'Aurland',
    'Hemsedal',
    'Øygarden',
    'Rollag',
    'Oslo',
    'Asker',
    'Karmøy',
    'Larvik',
    'Stavanger',
    'Kvitsøy',
    'Kragerø',
];

const kontorData = [
    {sted: 'Storfjord', type: 'Hovedkontor'},
    {sted: 'Oslo', type: 'Distriktskontor'}
];

---

<div class="section steder">

    
        <h2 class="viHar">Vi har jobba over hele landet <em>– fra nord til sør!</em></h2>

        <ul class="kunder">
            {steder.map(sted =>(
                <li>{sted}</li>
             ))}
        </ul>

        <h2 class="holderTil">Her holder vi til</h2>
        <ul class="kontor">

            {kontorData.map(kontor =>(
                <li>{kontor.sted} – {kontor.type}</li>
            ))}

        </ul>
        

        <div class="kart">
            <Norge steder={steder}/>
        </div>

    
    <!-- <Image src={Norge} alt="Kart over Norge med alle stedene vi har jobbet og holder til på."> -->
</div>

<style>
    .steder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0em;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }

    .steder h2{
        /* max-width: 20ch; */
    }

    em{
        display: block;
    }

    .steder li{
        font-size: 1.5em;
        line-height: 0.25em;
        list-style: disc;
        margin-left: 2ch;
    }

    .kunder{
        height: 100%;
        max-height: 50ch;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-self: start;
        gap: 0 2ch;
    }

    h2, ul {
        z-index: 1;
        grid-column: 1 / 3;
    }

    .viHar{
        grid-row: 1;
    }

    .kunder{
        grid-row: 2;
    }

    .holderTil{
        grid-row: 3;
    }

    .kontor{
        grid-row: 4;
    }

    .kart {
        width: 50svw;
        max-width: 1200px;
        height: 95svh;
        max-height: 1000px;
        grid-column: 1 / 3;
        grid-row: 1 / 5;
        justify-self: end;
        align-self: end;
        z-index: 0;
    }

    .kunder li::marker{
        color: var(--red);
    }

    .kontor li::marker{
        color: var(--blue);
    }

    @media (width <= 810px ) {
        .kart {
        max-width: 60svw;
        height: 100%;
        max-height: 90svh;
        width: 1200px;
    }
    }  

    @media (width <= 450px ) {

        .steder{
        grid-template-columns: 1fr;
        }

        em{
        display: inline;
    }

        .kunder, .kontor {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0 1ch;
            font-size: 0.7rem;
        }

        h2, ul {
        margin-top: 0.35em;
        margin-bottom: 0.15em;
        grid-column: 1;
        }

        .viHar{
            grid-row: 1;
        }

        .kunder{
            grid-row: 3;
        }

        .holderTil{
            grid-row: 4;
        }

        .kontor{
            grid-row: 5;
            flex-direction: column;
        }

        .steder li{
        margin: 0;
        line-height: 1.25em;
        list-style-position: inside;
        }   

        .kart{
            grid-column: 1;
            grid-row: 2;
            justify-self: center;
            align-self: center;
            width: 100%;
            height: auto;
            max-width: none;
            max-height: none;
            margin-top: -2em;
            margin-bottom: -0.5em;
        }


    } 

    @media (width > 1700px ) {
        .steder {
        max-width: 1400px;
    }
    } 

</style>