---

import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION} from '../siteConstants';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

export interface Props{
	title: string;
  homeButton?: boolean;
}

const { title = 'Lokalt Byrå', homeButton } = Astro.props as Props;

---

<html lang="no" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{SITE_TITLE} – {title}</title>
    <!-- <title>Lokalt Byrå: Strategisk design for bærekraftige lokalsamfunn</title> -->

    <meta name="description" content={SITE_DESCRIPTION}>
    <meta name="author" content="Lokalt Byrå">

    <meta name=”robots” content="index, follow">

    <meta property="og:title" content={SITE_TITLE} – {title}/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content={SITE_DESCRIPTION}/>
    <meta property="og:url"content="https://lokaltbyraa.no" />
    <meta property="og:image" content="/LokaltByraaOpenGraph.jpg"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="website">
    <meta name="twitter:creator" content="Lokalt Byrå">
    <meta name="twitter:title" content={SITE_TITLE} – {title}>
    <meta name="twitter:description" content={SITE_DESCRIPTION}>
    <meta name="twitter:image" content="/LokaltByraaTwitter.jpg">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5c5c5c">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

	<link href='../fonts/NeueMontreal-Regular.woff2' rel='stylesheet' type='text/css'>
	<link href='../fonts/NeueMontreal-Bold.woff2' rel='stylesheet' type='text/css'>
  <link href='../fonts/NeueMontreal-Italic.woff2' rel='stylesheet' type='text/css'>
	<link href='../fonts/NeueMontreal-BoldItalic.woff2' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://use.typekit.net/ghz0qsf.css">

  </head>

  <body>
		<Header homeButton={ homeButton }/>
		<slot />
		<Footer />
  </body>
  </html>